@import "../../../assets/scss/colors";

.u-canvas {
  width: 100%;
  height: 100vh;
  overflow: auto;

  .canvas__frame {
    position: relative;
    width: 800px;
    height: 800px;
    margin: 20px auto;
    box-shadow: 0px 0px 30px -15px $c-onyx;
    border: 2px solid $c-persian-green;
    overflow: hidden;
  }
}
