.c-layout {
  display: flex;
  align-items: stretch;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;

  .layout__sidebar {
    flex: 0 0 300px;
    max-width: 300px;
  }

  .layout__content {
    flex-grow: 1;
  }
}
